<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409712438268-l9gcfe29ohv5mjk9b4hho5bh47fvjmqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409712438268-l9gcfe29ohv5mjk9b4hho5bh47fvjmqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409712438268-o68bip04al4j2d08qtfd7n21oqcqsev1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGlDm7qTUpB4cK3K1jkXBORw6oCCFrEes</string>
	<key>GCM_SENDER_ID</key>
	<string>409712438268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rs.cashgrab</string>
	<key>PROJECT_ID</key>
	<string>cashgrab-db612</string>
	<key>STORAGE_BUCKET</key>
	<string>cashgrab-db612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409712438268:ios:363dbd2c3d27f21487e079</string>
	<key>DATABASE_URL</key>
	<string>https://cashgrab-db612-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>